.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url('img/banjo.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom center;
    background-size: cover;
    color: white;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.card img{
    max-width: 100%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.jumbotron h1 {
  font-weight: 300;
}


.jumbotron .container {
  max-width: 40rem;
  background: rgba(255, 255, 255, 0.2);
 
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}